<DemoPageSectionComponent Id="Navigation-Tabs-Overview">
    <div class="cw-480">
        <DxTabs>
            <DxTab Text="Home" TabIconCssClass="menu-icon-home menu-icon"></DxTab>
            <DxTab Text="Products" TabIconCssClass="menu-icon-products menu-icon"></DxTab>
            <DxTab Text="Support" TabIconCssClass="menu-icon-support menu-icon"></DxTab>
        </DxTabs>
    </div>
</DemoPageSectionComponent>
